In [1]:
# generating 500 values for country/city in UK based on population data 

# map cities to countries  - cannot simulate both, need to match

In [2]:
# city population info is only informative about urban populations

In [3]:
import pandas as pd
import numpy as np

In [4]:
citydata = pd.read_csv("csvData.csv")
print(citydata)

        2022         city
0    8961989       London
1     984333   Birmingham
2     864122    Liverpool
3     685368    Sheffield
4     617280      Bristol
..       ...          ...
395    32872    Brighouse
396    32566       Darwen
397    32489      Wisbech
398    32286        Aston
399    32176  Borehamwood

[400 rows x 2 columns]

In [5]:
# total uk pop 66,488,991

percentage_of_pop = (citydata['2022']/66488991)*100

print(percentage_of_pop)

0      13.478907
1       1.480445
2       1.299647
3       1.030799
4       0.928394
         ...
395     0.049440
396     0.048980
397     0.048864
398     0.048558
399     0.048393
Name: 2022, Length: 400, dtype: float64

In [6]:
pop_df = pd.DataFrame(percentage_of_pop)

#print(pop_df)

#merge column into df
citydata['percentage_of_pop'] = pop_df.loc[:,'2022']

print(citydata)

#rename pesky 2022

citydata.rename(columns={"2022":"pop"})

        2022         city  percentage_of_pop
0    8961989       London          13.478907
1     984333   Birmingham           1.480445
2     864122    Liverpool           1.299647
3     685368    Sheffield           1.030799
4     617280      Bristol           0.928394
..       ...          ...                ...
395    32872    Brighouse           0.049440
396    32566       Darwen           0.048980
397    32489      Wisbech           0.048864
398    32286        Aston           0.048558
399    32176  Borehamwood           0.048393

[400 rows x 3 columns]

         pop         city  percentage_of_pop
0    8961989       London          13.478907
1     984333   Birmingham           1.480445
2     864122    Liverpool           1.299647
3     685368    Sheffield           1.030799
4     617280      Bristol           0.928394
..       ...          ...                ...
395    32872    Brighouse           0.049440
396    32566       Darwen           0.048980
397    32489      Wisbech           0.048864
398    32286        Aston           0.048558
399    32176  Borehamwood           0.048393

[400 rows x 3 columns]

In [7]:
city_per = list(citydata['percentage_of_pop'])
# print(city_per)

#turn df column into list of ratios

In [8]:
sample_list = list(citydata['city'])


import random
random.seed(1)
random_list_city = random.choices(sample_list, weights = city_per,
              k=500)
print(random_list_city)

['London', 'Barry', 'Royal Tunbridge Wells', 'Glasgow', 'Sutton', 'Blackpool', 'Woking', 'Bognor Regis', 'London', 'London', 'Castlereagh', 'Wolverhampton', 'Stafford', 'London', 'Southampton', 'Wakefield', 'Sheffield', 'Abingdon', 'Havant', 'London', 'London', 'Cambridge', 'Bloxwich', 'Preston', 'Liverpool', 'Plymouth', 'London', 'Liverpool', 'City of Westminster', 'Sutton', 'Sheffield', 'Sheffield', 'Liverpool', 'Bexley', 'Leeds', 'London', 'Livingston', 'Burnley', 'Sutton Coldfield', 'London', 'Pudsey', 'Reigate', 'London', 'Sunderland', 'Wakefield', 'Halifax', 'Trowbridge', 'Plymouth', 'Morley', 'Romford', 'Cardiff', 'West Bromwich', 'West Bridgford', 'Leytonstone', 'Ipswich', 'West Bromwich', 'London', 'Bristol', 'Runcorn', 'Belfast', 'London', 'York', 'St Albans', 'Harlow', 'Kingston upon Hull', 'City of Westminster', 'Wigan', 'Wrexham', 'Mansfield', 'Swansea', 'Newcastle upon Tyne', 'London', 'London', 'St Albans', 'Colwyn Bay', 'Hastings', 'Swansea', 'London', 'Crawley', 'Chiswick', 'Folkestone', 'Peterborough', 'Dunstable', 'Sheffield', 'Croydon', 'Arnold', 'Bolton', 'Bexley', 'Leicester', 'York', 'Yeadon', 'London', 'Kingswood', 'Wallasey', 'Long Eaton', 'Aylesbury', 'Bangor', 'Walsall', 'Huddersfield', 'Plymouth', 'London', 'Dunfermline', 'Blackburn', 'Birmingham', 'Ipswich', 'Portsmouth', 'Nottingham', 'Birkenhead', 'Peterborough', 'Lincoln', 'Colchester', 'Bexley', 'London', 'Sheffield', 'London', 'Brighton', 'Dunstable', 'Ashford', 'Runcorn', 'Welwyn Garden City', 'Glasgow', 'Halesowen', 'Bath', 'London', 'London', 'London', 'Barnsley', 'Bristol', 'London', 'Lincoln', 'Birkenhead', 'London', 'London', 'Warrington', 'London', 'Leicester', 'Halifax', 'Milton Keynes', 'Stoke-on-Trent', 'Norwich', 'London', 'Newport', 'Derby', 'London', 'London', 'Yeovil', 'Wigan', 'Birmingham', 'Watford', 'Farnborough', 'London', 'London', 'London', 'Scunthorpe', 'London', 'Redditch', 'High Peak', 'Doncaster', 'Liverpool', 'Accrington', 'Ashford', 'Walsall', 'Liverpool', 'Oldham', 'Swansea', 'Middlesbrough', 'Stoke-on-Trent', 'Mendip', 'London', 'Cardiff', 'Stirling', 'Llanelli', 'Cardiff', 'Crosby', 'Manchester', 'Bloxwich', 'Canary Wharf', 'Derby', 'Bristol', 'London', 'Eltham', 'London', 'Craigavon', 'Farnham', 'Blackburn', 'London', 'Wellingborough', 'Billingham', 'Redditch', 'Wigan', 'Preston', 'Birkenhead', 'Birmingham', 'Harlow', 'Wolverhampton', 'Birmingham', 'London', 'Solihull', 'Leeds', 'Swindon', 'Coventry', 'Bletchley', 'Yeovil', 'London', 'Birmingham', 'Coventry', 'Irvine', 'Maidenhead', 'Brent', 'Liverpool', 'Harlow', 'Livingston', 'Lytham St Annes', 'Brent', 'West Bridgford', 'Stevenage', 'Portsmouth', 'Bicester', 'Sheffield', 'Gateshead', 'London', 'London', 'Merthyr Tydfil', 'Liverpool', 'Uxbridge', 'Tottenham', 'Halesowen', 'Reading', 'Brent', 'Leeds', 'Batley', 'Watford', 'Bishops Stortford', 'Durham', 'London', 'Poole', 'London', 'London', 'London', 'Staines', 'Macclesfield', 'Fareham', 'Brent', 'Eastbourne', 'Maidenhead', 'Preston', 'Blackburn', 'Liverpool', 'London', 'Glasgow', 'Lancaster', 'Telford', 'Stretford', 'Bexley', 'Leicester', 'Macclesfield', 'Weymouth', 'London', 'Romford', 'London', 'London', 'Cwmbran', 'London', 'Sheffield', 'Wigston Magna', 'Derby', 'London', 'London', 'Sheffield', 'Canary Wharf', 'London', 'Merthyr Tydfil', 'Preston', 'Chipping Sodbury', 'Sutton in Ashfield', 'Leeds', 'Bristol', 'Dudley', 'London', 'Woking', 'London', 'London', 'Colwyn Bay', 'Leeds', 'High Wycombe', 'Blackpool', 'Manchester', 'London', 'Ashton-under-Lyne', 'Billericay', 'Billericay', 'London', 'Liverpool', 'Exeter', 'Exmouth', 'Cambridge', 'Wembley', 'Worthing', 'Glasgow', 'Cambridge', 'Manchester', 'Bristol', 'London', 'Edinburgh', 'Radcliffe', 'Blackpool', 'Woking', 'Sutton Coldfield', 'North Shields', 'Newport', 'Manchester', 'Coventry', 'Stoke-on-Trent', 'Barry', 'Kilmarnock', 'Cardiff', 'Sunderland', 'Doncaster', 'Bolton', 'High Wycombe', 'Bristol', 'London', 'Bristol', 'London', 'Poole', 'London', 'London', 'Dagenham', 'Leeds', 'Buckley', 'Sutton', 'Cumbernauld', 'London', 'Crawley', 'Mitcham', 'London', 'Canvey Island', 'London', 'Finchley', 'Chorley', 'Wallasey', 'Stoke-on-Trent', 'London', 'Croydon', 'Bury St Edmunds', 'Leeds', 'Kilmarnock', 'London', 'Grantham', 'London', 'Stoke-on-Trent', 'Hinckley', 'Aldershot', 'Willesden', 'Sale', 'Rugby', 'Grays', 'London', 'Wolverhampton', 'London', 'Beckenham', 'Royal Leamington Spa', 'Bristol', 'London', 'Chester-le-Street', 'Hereford', 'York', 'Cambridge', 'Acton', 'Milton Keynes', 'Swansea', 'Brent', 'Glasgow', 'London', 'Bedford', 'Derby', 'Blackburn', 'London', 'Nottingham', 'London', 'London', 'Glasgow', 'Fareham', 'Bradford', 'Bradford', 'Colchester', 'Sheffield', 'London', 'Warrington', 'Crawley', 'Enfield Town', 'City of Westminster', 'Stevenage', 'Paisley', 'Sheffield', 'Sutton', 'Dudley', 'Liverpool', 'Belfast', 'Huddersfield', 'Willesden', 'Newark on Trent', 'Leicester', 'Bedford', 'London', 'London', 'Croydon', 'Bromsgrove', 'London', 'Stamford Hill', 'West Bridgford', 'Manchester', 'Harrogate', 'Gravesend', 'Kingston upon Hull', 'Hemel Hempstead', 'Crewe', 'Hastings', 'Brentwood', "King's Lynn", 'Airdrie', 'Blackburn', 'London', 'Bristol', 'Liverpool', 'Blackburn', 'Gosport', 'London', 'Southport', 'Tamworth', 'Birkenhead', 'Croydon', 'London', 'Fylde', 'London', 'Felling', 'Hereford', 'Chelmsford', 'Leicester', 'Greenock', 'Redcar', 'London', 'Chingford', 'Halesowen', 'Becontree', 'Hemel Hempstead', 'Southampton', 'Andover', 'Hitchin', 'Preston', 'Widnes', 'Wolverhampton', 'London', 'Coventry', 'London', 'Sutton in Ashfield', 'Redcar', 'London', 'Newcastle under Lyme', 'Southend-on-Sea', 'London', 'Leeds', 'Bristol', 'Purley', 'London', 'Birmingham', 'City of Westminster', 'London', 'Chesterfield', 'Watford', 'Castlereagh', 'Birmingham', 'Edinburgh', 'Cambridge', 'Leicester', 'Brighton', 'Bristol', 'Chester', 'Kettering', 'Hereford', 'Chippenham', 'Doncaster', 'Newcastle upon Tyne', 'Hamilton', 'Rossendale', 'Blackburn', 'Preston', 'Edinburgh', 'London', 'Castleford', 'London', 'Salford', 'Doncaster', 'Stratford', 'Southall', 'Chippenham', 'London', 'Crawley', 'Basildon', 'Manchester']

In [9]:
#making a dataframe out of the data
import pandas as pd
sim_city = pd.DataFrame(random_list_city)


sim_city = sim_city.rename(columns={0:"city"})

print(sim_city)

                      city
0                   London
1                    Barry
2    Royal Tunbridge Wells
3                  Glasgow
4                   Sutton
..                     ...
495             Chippenham
496                 London
497                Crawley
498               Basildon
499             Manchester

[500 rows x 1 columns]

In [10]:
countrydata_series = pd.read_csv("uk-towns-sample.csv")

citypost_series = pd.read_excel("citypost.xls")

countrydata = pd.DataFrame(countrydata_series)
citypost = pd.DataFrame(citypost_series)

In [11]:
countrydata = countrydata.drop(columns = ['id', 'county', 'grid_reference', 'easting', 'northing', 'latitude', 'longitude', 'elevation', 'local_government_area', 'nuts_region', 'type'])

print(countrydata)

              name   country postcode_sector
0     Aaron's Hill   England           GU7 2
1      Abbas Combe   England           BA8 0
2         Abberley   England           WR6 6
3         Abberton   England           CO5 7
4         Abberton   England          WR10 2
...            ...       ...             ...
1798         Ayton  Scotland          TD14 5
1799         Ayton   England          NE38 0
1800  Ayton Castle  Scotland          TD14 5
1801        Aywick  Scotland           ZE2 9
1802       Azerley   England           HG4 3

[1803 rows x 3 columns]

In [12]:
countrydata['postcode_sector']= countrydata['postcode_sector'].str[:-2]

print(countrydata)

              name   country postcode_sector
0     Aaron's Hill   England             GU7
1      Abbas Combe   England             BA8
2         Abberley   England             WR6
3         Abberton   England             CO5
4         Abberton   England            WR10
...            ...       ...             ...
1798         Ayton  Scotland            TD14
1799         Ayton   England            NE38
1800  Ayton Castle  Scotland            TD14
1801        Aywick  Scotland             ZE2
1802       Azerley   England             HG4

[1803 rows x 3 columns]

In [13]:
citypost = citypost.drop(columns=['State', 'Country'])
print(citypost)

           Town/City Zipcode
0                Ash     CT3
1        Ab Kettleby    LE14
2        Abbas Combe     BA8
3           Abberley     WR6
4           Abberton    WR10
..               ...     ...
295   Ampney St Mary     GL7
296  Ampney St Peter     GL7
297           Amport    SP11
298         Ampthill    MK45
299           Ampton    IP31

[300 rows x 2 columns]

In [14]:
citypost = citypost.rename(columns={"Zipcode":"postcode_sector"})

In [15]:
country_with_city = pd.merge(citypost, countrydata, how='outer', on= 'postcode_sector')

In [16]:
print(country_with_city)

     Town/City postcode_sector              name  country
0          Ash             CT3           Adisham  England
1          Ash             CT3               Ash  England
2          Ash             CT3          Aylesham  England
3      Adisham             CT3           Adisham  England
4      Adisham             CT3               Ash  England
...        ...             ...               ...      ...
2063       NaN             AL6  Ayot St Lawrence  England
2064       NaN             AL6     Ayot St Peter  England
2065       NaN             AL5         Ayres End  England
2066       NaN             SR4       Ayre's Quay  England
2067       NaN            NE38             Ayton  England

[2068 rows x 4 columns]

In [17]:
country_with_city = country_with_city.dropna()
#country_with_city = country_with_city.drop(columns = {'name'})

In [23]:
country_with_city[country_with_city['city'].str.contains("London")]

#problem - there is no london

country_with_city[country_with_city['name'].str.contains("London")]

#no london in either dataset

Empty DataFrame
Columns: [city, postcode_sector, name, country]
Index: []

In [18]:


country_with_city = country_with_city.rename(columns={"Town/City":"city"})

print(country_with_city)

           city postcode_sector               name  country
0           Ash             CT3            Adisham  England
1           Ash             CT3                Ash  England
2           Ash             CT3           Aylesham  England
3       Adisham             CT3            Adisham  England
4       Adisham             CT3                Ash  England
..          ...             ...                ...      ...
780  Ampleforth            YO62         Ampleforth  England
781  Ampleforth            YO62  Appleton-le-Moors  England
782    Ampthill            MK45           Ampthill  England
783    Ampthill            MK45      Appley Corner  England
784      Ampton            IP31             Ampton  England

[765 rows x 4 columns]

In [19]:
final_city_country = pd.merge(country_with_city, sim_city, how='right', on= 'city')

In [20]:
print(final_city_country)

                      city postcode_sector name country
0                   London             NaN  NaN     NaN
1                    Barry             NaN  NaN     NaN
2    Royal Tunbridge Wells             NaN  NaN     NaN
3                  Glasgow             NaN  NaN     NaN
4                   Sutton             NaN  NaN     NaN
..                     ...             ...  ...     ...
515             Chippenham             NaN  NaN     NaN
516                 London             NaN  NaN     NaN
517                Crawley             NaN  NaN     NaN
518               Basildon             NaN  NaN     NaN
519             Manchester             NaN  NaN     NaN

[520 rows x 4 columns]