In [2]:
import random

In [5]:
pip install names

Defaulting to user installation because normal site-packages is not writeable
Collecting names
  Downloading names-0.3.0.tar.gz (789 kB)
     -------------------------------------- 789.1/789.1 kB 7.1 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: names
  Building wheel for names (setup.py): started
  Building wheel for names (setup.py): finished with status 'done'
  Created wheel for names: filename=names-0.3.0-py3-none-any.whl size=803682 sha256=a295dd838614885f7973b4ab4c0d579114301deeda229f28a948d83220b61bc1
  Stored in directory: c:\users\sreenidhi venkatesh\appdata\local\pip\cache\wheels\f1\bc\04\55ab9499ea02359ece8b02b4169ebb30aa52d82b84c13fc506
Successfully built names
Installing collected packages: names
Successfully installed names-0.3.0
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script names.exe is installed in 'C:\Users\Sreenidhi Venkatesh\AppData\Roaming\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [6]:
import names

In [12]:
alleles = [0, 1]
weights_rs10484554 = [14.3, 85.7]

In [14]:
rs10484554 = random.choices(alleles, weights = weights_rs10484554, k = 500)

In [16]:
weights_rs2395029 = [3.4, 96.6]

In [18]:
rs2395029 = random.choices(alleles, weights = weights_rs2395029, k = 500)

In [19]:
weights_rs13199524 = [8.3, 91.7]

In [47]:
rs13199524 = random.choices(alleles, weights = weights_rs13199524, k = 500)

In [50]:
weights_rs12198173 = [9.0, 91.0]

In [52]:
rs12198173 = random.choices(alleles, weights = weights_rs12198173, k = 500)

In [54]:
weights_rs3093662 = [7.8, 92.2]

In [55]:
rs3093662 = random.choices(alleles, weights = weights_rs3093662, k = 500)

In [56]:
import pandas as pd
import numpy as np

In [33]:
w = {'rs10484554' : [14.3, 85.7], 'rs2395029': [3.4, 96.6], 'rs13199524': [8.3, 91.7], 'rs12198173': [9.0, 91.0], 'rs3093662':[7.8, 92.2]}

In [34]:
w

{'rs10484554': [14.3, 85.7],
 'rs2395029': [3.4, 96.6],
 'rs13199524': [8.3, 91.7],
 'rs12198173': [9.0, 91.0],
 'rs3093662': [7.8, 92.2]}

In [35]:
weights = pd.DataFrame(data = w)

In [36]:
weights

   rs10484554  rs2395029  rs13199524  rs12198173  rs3093662
0        14.3        3.4         8.3         9.0        7.8
1        85.7       96.6        91.7        91.0       92.2

In [37]:
weights.dtypes

rs10484554    float64
rs2395029     float64
rs13199524    float64
rs12198173    float64
rs3093662     float64
dtype: object

In [38]:
weights

   rs10484554  rs2395029  rs13199524  rs12198173  rs3093662
0        14.3        3.4         8.3         9.0        7.8
1        85.7       96.6        91.7        91.0       92.2

In [39]:
weights.transpose()

               0     1
rs10484554  14.3  85.7
rs2395029    3.4  96.6
rs13199524   8.3  91.7
rs12198173   9.0  91.0
rs3093662    7.8  92.2